* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0d1323;
    color: #faf7fa;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 23px;
    margin-top: 100px;
    padding-left: 100px;
}

.profile {
    background-color: hsl(235, 46%, 20%);
    border-radius: 16px;
    grid-row: span 2;
    overflow: hidden;
    width: 250px;
    margin-bottom: 30px;
}

.profile img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 24px;
}

.user-info {
    background-color: hsl(245, 80%, 60%);
    padding: 20px 30px;
    border-radius: 15px;
}

.user-txt {
    padding-bottom: 40px;
}

.user-txt>p {
    color: hsl(236, 100%, 87%);
    font-size: 16px;
    margin-bottom: 10px;
}

.user-txt>h1 {
    font-size: 30px;
    font-weight: 300px;
    line-height: 1.2;
}

.text-dates {
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-dates>h2 {
    background: none;
    border: none;
    text-align: left;
    font-size: 15px;
    font-weight: 500px;
    cursor: pointer;
    color: hsl(235, 45%, 60%);
}

.text-dates>#active {
    color: white;
}

.card {
    position: relative;
    width: 220px;
    border-radius: 12px;
    overflow: hidden;
}

.image-bg {
    position: relative;
    overflow: hidden;
    height: 48px;
}

.btn-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    right: 18px;
    top: -15px;
    height: 55px;
}

.contents {
    background-color: hsl(235, 45%, 20%);
    padding: 20px 25px;
    border-radius: 15px;
    position: relative;
    top: -15px;
    height: 18vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
}

.body-card {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.hrs {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.1;
}

.previous-hrs {
    color: hsl(236, 100%, 87%);
    font-size: 14px;
    font-weight: 300px;
}

.work .image-bg {
    background-color: hsl(15, 100%, 70%);
}
.play .image-bg {
    background-color: hsl(195, 75%, 63%);
}
.study .image-bg {
    background-color: hsl(348, 100%, 68%);
}
.exercise .image-bg {
    background-color: hsl(145, 58%, 55%);
}
.social .image-bg {
    background-color: hsl(263, 63%, 51%);
}
.selfcare .image-bg {
    background-color: hsl(43, 84%, 65%);
}